@{
    ViewData["Title"] = "Política de Privacidad";
}

<h2>Política de Privacidad</h2>
<p>Si tiene alguna pregunta o inquietud sobre nuestra política de privacidad, no dude en contactarnos.</p>
<p>Gracias por utilizar nuestro sitio web.</p>