@model SecureAssetManager.Models.Asset

@{
    ViewData["Title"] = "Editar Artista";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="ID" />

    <div class="form-group">
        <label asp-for="CodigoActivo" class="control-label">ArtistaID</label>
        <input asp-for="CodigoActivo" class="form-control" />
        <span asp-validation-for="CodigoActivo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Nombre" class="control-label">NombrePilaArtista</label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Responsable" class="control-label">NombreArtistico</label>
        <input asp-for="Responsable" class="form-control" />
        <span asp-validation-for="Responsable" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Descripcion" class="control-label">FechaNacimiento</label>
        <textarea asp-for="Descripcion" class="form-control"></textarea>
        <span asp-validation-for="Descripcion" class="text-danger"></span>
    </div>


    <div class="form-group">
        <input type="submit" value="Guardar" class="btn btn-primary" />
    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
