@model SecureAssetManager.Models.Asset

@{
    ViewData["Title"] = "Editar Alineamiento";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="ID" />

    <div class="form-group">
        <label asp-for="CodigoActivo" class="control-label">Código Activo</label>
        <input asp-for="CodigoActivo" class="form-control" />
        <span asp-validation-for="CodigoActivo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Nombre" class="control-label">Nombre</label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Tipo" class="control-label">Tipo</label>
        <input asp-for="Tipo" class="form-control" />
        <span asp-validation-for="Tipo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Categoria" class="control-label"></label>
        <select asp-for="Categoria" class="form-control">
            <option value="">-- Seleccione una opción --</option>
            <option value="AG01 - Cumplimiento y soporte de I&T para el cumplimiento del negocio con leyes y regulaciones externas">AG01 - Cumplimiento y soporte de I&T para el cumplimiento del negocio con leyes y regulaciones externas</option>
            <option value="AG02 - Gestión de riesgo relacionado con I&T">AG02 - Gestión de riesgo relacionado con I&T</option>
            <option value="AG03 - Beneficios obtenidos del portafolio de inversiones y servicios habilitados por I&T">AG03 - Beneficios obtenidos del portafolio de inversiones y servicios habilitados por I&T</option>
            <option value="AG04 - Calidad de la información financiera relacionada con la tecnología">AG04 - Calidad de la información financiera relacionada con la tecnología</option>
            <option value="AG05 - Prestación de servicios I&T conforme a los requisitos del negocio">AG05 - Prestación de servicios I&T conforme a los requisitos del negocio</option>
            <option value="AG06 - Agilidad para convertir los requisitos del negocio en soluciones operativas">AG06 - Agilidad para convertir los requisitos del negocio en soluciones operativas</option>
            <option value="AG07 - Seguridad de la información, infraestructura de procesamiento y aplicaciones, y privacidad">AG07 - Seguridad de la información, infraestructura de procesamiento y aplicaciones, y privacidad</option>
            <option value="AG08 - Habilitar y dar soporte a procesos de negocio mediante la integración de aplicaciones y tecnología">AG08 - Habilitar y dar soporte a procesos de negocio mediante la integración de aplicaciones y tecnología</option>
            <option value="AG09 - Ejecución de programas dentro del plazo, sin exceder el presupuesto, y que cumplen con los requisitos y estándares de calidad">AG09 - Ejecución de programas dentro del plazo, sin exceder el presupuesto, y que cumplen con los requisitos y estándares de calidad</option>
            <option value="AG10 - Calidad de la información sobre gestión de I&T">AG10 - Calidad de la información sobre gestión de I&T</option>
            <option value="AG11 - Cumplimiento de I&T con las políticas internas">AG11 - Cumplimiento de I&T con las políticas internas</option>
            <option value="AG12 - Personal competente y motivado con un entendimiento de la tecnología y del negocio">AG12 - Personal competente y motivado con un entendimiento de la tecnología y del negocio</option>
            <option value="AG13 - Conocimiento, experiencia e iniciativas para la innovación empresarial">AG13 - Conocimiento, experiencia e iniciativas para la innovación empresarial</option>
        </select>
        <span asp-validation-for="Categoria" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Ubicacion" class="control-label">Ubicación</label>
        <input asp-for="Ubicacion" class="form-control" />
        <span asp-validation-for="Ubicacion" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Guardar" class="btn btn-primary" />
    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
